
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #eee;
}

#myForm {
  margin-top: 20px;
}

#myForm input {
  padding: 5px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

#submitform {
  background-color: #4caf50; /* Green */
  color: white;
}

#message,
#posts,
#greeting {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#posts ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#posts li {
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 10px;
}
